<div class="jumbotron text-center h-100">
    <h1 class="display-2">Welcome to my website</h1>
    <p class="lead">This website containes post page where you can create post, delete post, add post. It also has the github followers section where you can find out who are your github followers.</p>
    <hr class="my-4">
    <h3 style="font-weight: 400;">Check Out Post Page</h3>
    <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink="/posts" role="button">Go to Posts Page </a>
    </p>
    <h3 style="font-weight: 400;">Check Out Github Followers Page</h3>
    <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink="/followers" role="button">Go to Followers page </a>
    </p>
</div>