<div class="container mt-5 border p-5 border-black">
    <div class="col-9 offset-1 ">
        <div class="row justify-content-center">
            <h3>Contact Us</h3>
        </div>

        <div class="row m-3">
            <div class="col-6">
                <input type="text" name="name" id="name" class="form-control " placeholder="Enter your name">
            </div>
            <div class="col-6">
                <input type="email" name="email" id="email" class="form-control " placeholder="Enter your email">
            </div>
        </div>
        <div class="row justify-content-center m-3">
            <textarea name="content" id="content" cols="30" class="form-control " rows="10" placeholder="Write your query....">  </textarea>
        </div>
        <div class="row justify-content-center ">
            <button class="btn btn-primary btn-block col-5">Submit</button>
        </div>
    </div>
</div>