<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 footer">© 2020 Copyright:
        <a> Raj Patel</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer
<footer class="footer">
    <div class="container">

        <p class="ml-auto">Developed by Raj Patel</p>
        <p>GithubFollowersSearch</p> &copy; GithubFollowersSearch 2020-{{getYear()}}.

    </div>
</footer> -->
<style>
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: rgb(27, 23, 23);
        color: whitesmoke;
    }
</style>